DirectoryIndex index.php
ErrorDocument 404 /error-404.php
AddDefaultCharset utf-8

RewriteEngine On
RewriteRule  ^inicio$ /index.php [QSA,L]
RewriteRule  ^procontrol$ /pro-control.php [QSA,L]
RewriteRule  ^oficinas$ /sucursales.php [QSA,L]
RewriteRule  ^novedades$ /productos-nuevos.php [QSA,L]
RewriteRule  ^fdrive$ /f-drive.php [QSA,L]
RewriteRule  ^nosotros$ /acerca-de.php [QSA,L]
RewriteRule  ^servicios$ /servicios-vde.php [QSA,L]
RewriteRule  ^energiarenovable$ /fotovoltaicos.php [QSA,L]
RewriteRule  ^ax$ /bombas-AX.php [QSA,L]
RewriteRule  ^contacto$ /formulario.php [QSA,L]
RewriteRule  ^tipo-de-cambio$ /tipo-d-cambio.php [QSA,L]
RewriteRule  ^kor$ /serie-kor.php [QSA,L]
RewriteRule  ^max$ /serie-max.php [QSA,L]
RewriteRule  ^task$ /serie-task.php [QSA,L]
RewriteRule  ^motores$ /motores-aquapak.php [QSA,L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php